* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e0cffc47;
}
.btn-indigo {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6610f2;
  --bs-btn-border-color: #6610f2;

  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #520dc2;
  --bs-btn-hover-border-color: #4b0bb5;

  --bs-btn-focus-shadow-rgb: 102, 16, 242;

  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4b0bb5;
  --bs-btn-active-border-color: #440aa8;

  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6610f2;
  --bs-btn-disabled-border-color: #6610f2;
}
.hide {
  display: none;
}
.user .image {
  height: 200px;
  background: #e0cffc;
  margin-bottom: 80px;
}
.loader {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  display: block;
  left: 47%;
  top: 50%;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #6610f2;
  opacity: 0.7;
  transform: translate(-50%, 100%) scale(0);
  animation: push 2s infinite ease-in;
}

.loader:after {
  animation-delay: 1s;
  background: #764ba2;
}

@keyframes push {
  0% {
    transform: translate(-50%, 100%) scale(1);
    opacity: 0.7;
  }
  15%,
  25% {
    transform: translate(-50%, 50%) scale(1);
    opacity: 0.6;
  }
  50%,
  75% {
    transform: translate(-50%, -30%) scale(0.5);
    opacity: 0.4;
  }
  80%,
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}